@model IEnumerable<BooksMVC.Models.books_new>

@{
    ViewBag.Title = "Список книг";
}

<h2>Все книги</h2>

<p>
    @Html.ActionLink("Добавить книгу", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spr_izd.Izd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spr_kategory.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spr_themes.Themes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spr_izd.Izd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spr_kategory.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spr_themes.Themes)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.N }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.N }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.N })
        </td>
    </tr>
}

</table>
